
<div class="container">
  <div class="row">
    <div class="col-md-3 mx-auto"><h2>いいね履歴一覧</h2></div>
  </div>
</div>

<div class="container" id="goods">
  <%= render "public/comments/index", {comments: @comments, current_user: @user, path: @path} %>
</div>
